.img-avatar {
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.descripcion {
    margin: 2%;
    font-size: large;
}

.descripcion-container {
    border: 2px solid rgb(129, 120, 120);
    text-align: left;
    margin: 1%;
    border-radius: 6px;
}

.descripcion-titulo {
    text-align: center;
    margin-top: 1%;
}

.row {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.formulario {
    background-color: #d6d6d6;
    margin: auto,
}

.form-div {
    margin: auto;
    color: black;
}

.form {
    width: 90%;
    margin: auto;
}