<div *ngIf="usuario === 'proveedor' && proveedor">



    <form class="form p-t-20" autocomplete="off" [formGroup]="productoForm" (submit)="actualizarProducto()">

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Proveedor: {{usuario}}</h4>
                        <h6 class="card-subtitle">Actualizar producto</h6>

                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="titulo" placeholder="Título del producto anunciado" formControlName="titulo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <div class="input-group">
                                <textarea class="form-control" id="descripcion" placeholder="Descripción" formControlName="descripcion"></textarea>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="categoria">Categoría</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="categoria" placeholder="Informática, Deporte, ..." formControlName="categoria">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unidadesMinimas">Unidades mínimas a pedir</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="number" class="form-control" id="unidadesMinimas" placeholder="200" formControlName="unidadesMinimas">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock (en almacén)</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="number" class="form-control" id="stock" placeholder="10000" formControlName="stock">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="precio">Precio</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="number" class="form-control" id="precio" placeholder="2" formControlName="precio">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="subcategoria">Subcategoría (opcional)</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="subcategoria" placeholder="Discos duros, periféricos,..." formControlName="subcategoria">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Fotos del producto</h4>

                        <div class="text-center">
                            <img *ngIf="!imgTemp" [src]="imagenUrl" class="img-avatar">
                            <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
                        </div>

                        <input type="file" class="form-control" multiple (change)="multiplesImagenes($event.target.files)">

                        <br>
                        <br>

                        <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="!imagenesSubir" (click)="subirImagenes()">
                            <i class="fa fa-save"></i>
                            Cambiar foto
                        </button>

                    </div>
                </div>
                <div formArrayName="datosTecnicos">
                    <h4> Datos técnicos</h4>
                    <table class="table table-bordered">
                        <tr *ngFor="let datos of producto.datosTecnicos">
                            <td>{{datos.datosTecnicosTitulo}}</td>
                            <td>{{datos.datosTecnicosDescripcion}}</td>
                            <td class="text-nowrap text-center">
                                <a class="cursor" data-toggle="tooltip" data-original-title="Borrar" (click)="borrarDatosTecnicos(datos)">
                                    <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div *ngFor="let item of datosTecnicos.controls; let pointIndex=index" [formGroupName]="pointIndex">
                        <div class="input-group">
                            <input type="text" class="form-control" id="datosTecnicosTitulo" placeholder="Título del dato técnico" formControlName="datosTecnicosTitulo">
                            <input type="text" class="form-control" id="datosTecnicosDescripcion" placeholder="Descripción del dato técnico" formControlName="datosTecnicosDescripcion">
                        </div>
                        <button type="button" class="btn btn-danger waves-effect waves-light m-r-10" (click)="deleteDatosTecnicos(pointIndex)">Borrar Datos Técnicos</button>
                    </div>
                    <button type="button" class="btn btn-success waves-effect waves-light m-r-10" (click)="addDatosTecnicos()">Añadir Datos Técnicos</button>
                </div>
            </div>

            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="productoForm.invalid">
                    <i class="fa fa-save"></i>
                    Actualizar producto
            </button>

            <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="borrarProducto(producto)">
                <i class="fa fa-save"></i>
                Eliminar producto
            </button>

        </div>
    </form>
</div>