<!-- <div class="wrapper">
    <div style="text-align: center;"><a href="/">Ir a la web</a></div>

    <form class="form-signin" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" id="loginform">
        <h2 class="form-signin-heading">Iniciar sesion</h2>
        <select class="form-control form-control-sm" id="usuario" formControlName="usuario">
            <option value="comprador" selected="selected" >Comprador</option> 
            <option value="proveedor">Proveedor</option>

          </select><br>
        <input type="email" class="form-control" placeholder="Email" formControlName="email" />
        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
        <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" formControlName="remember"> Recuerdame
      </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar</button>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">

                <div id="my-signin2"></div>

            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                No tienes cuenta? <a routerLink="/register" class="text-primary m-l-5"><b>Regístrate</b></a>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                ¿Trabajas aquí? <a routerLink="/login/empleado" class="text-primary m-l-5"><b>Accede</b></a>
            </div>
        </div>

    </form>
</div> -->



<div class="wrapper login">
    <div style="text-align: center; margin-bottom: 10px;">
        <a href="/"><img src="./assets/images/logo-transparente.png" /> </a>
    </div>

    <form class="form-signin" autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()" id="loginform">
        <h2 class="form-signin-heading text-center">Iniciar sesión</h2>
        <select class="form-control form-control-sm" id="usuario" formControlName="usuario">
            <option value="comprador" selected="selected" >Comprador</option> 
            <option value="proveedor">Proveedor</option>
        </select><br>
        <input type="email" (keyup)="emailIncorrecto = false" class="form-control" placeholder="Email" formControlName="email" />
        <small *ngIf="emailRequerido" class="text-danger">Email requerido</small>
        <!-- <small *ngIf="emailIncorrecto" class="text-danger">Email incorrecto</small> -->
        <input type="password" (keyup)="passwordIncorrecta = false" class="form-control" placeholder="Contraseña" formControlName="password" />
        <small *ngIf="passwordRequerido" class="text-danger">Contraseña requerida</small>
        <!-- <small *ngIf="passwordIncorrecta" class="text-danger">Contraseña incorrecta</small> -->
        <br>
        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Iniciar</button>
        <div class="row google-button">
            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 mb-4 text-center" id="google-btn">
                <div id="my-signin2"></div>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                ¿No tienes cuenta? <br><a routerLink="/register" class="link m-l-5"><b>Regístrate</b></a>
            </div>
        </div>
        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                ¿Trabajas aquí? <br><a routerLink="/login/empleado" class="link m-l-5"><b>Acceda como empleado</b></a>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                <a routerLink="/" class="link m-l-5"><b>Volver a la web</b></a>
            </div>
        </div>

    </form>
</div>