<div class="col mb-4 animated fadeIn tarjeta">
    <div class="row ">
        <div class="col-md-6">
            <div class="titulo">
                <h5 class="card-title" *ngIf="comp">Chat con el proveedor {{chat.proveedorNombre}}</h5>
                <h5 class="card-title" *ngIf="prov">Chat con el comprador {{nombreComprador}}</h5>
                <h6 class="card-title">Iniciado el {{chat.fechaPublicacion | date: 'dd/MM/yyyy'}}</h6>

            </div>
        </div>
        <div class="col-md-4 px-0">
        </div>
        <div class="col-md-2">
            <div class="botones-container">
                <a class="btn btn-lg btn-primary btn-sm btn-block decompra" (click)="verChat()">Ver mensajes</a>
            </div>
            <ul *ngIf="notificacion">
                <i class="fas fa-comments" style="color: rgb(50, 165, 15);"></i>
            </ul>
        </div>
    </div>
</div>