<div class="col mb-4 animated fadeIn tarjeta">
    <div class="row ">
        <div class="col-md-10">
            <div class="titulo">
                <h5 class="card-title mb-3" id="proveedorNombre" *ngIf="comp && !flag">Chat con el proveedor: {{chat.proveedorNombre}}</h5>
                <h5 class="card-title mb-3" *ngIf="comp && flag">Reclamación al proveedor: {{chat.proveedorNombre}} </h5>
                <h5 class="card-title mb-3" *ngIf="prov && !flag">Chat con el comprador: {{nombreComprador}} {{apellidosComprador}}</h5>
                <h5 class="card-title mb-3" *ngIf="prov && flag">Reclamación del comprador: {{nombreComprador}} {{apellidosComprador}}</h5>
                <p class="card-title" style="color: rgb(122, 122, 122); " id="producto" *ngIf="!flag && producto">Sobre el producto "{{producto.titulo}}" con último mensaje del {{chat.fechaPublicacion | date: 'dd/MM/yyyy'}}. </p>
                <p class="card-title" style="color: rgb(122, 122, 122); " *ngIf="flag && unPedido && producto">Del pedido realizado el {{unPedido.fechaCompra | date: 'dd/MM/yyyy'}} del producto "{{producto.titulo}}" con último mensaje del {{chat.fechaPublicacion | date: 'dd/MM/yyyy'}}. </p>
                <!-- <p class="card-title" style="color: rgb(122, 122, 122); " *ngIf="unPedido">Pedido realizado el {{unPedido.fechaCompra | date: 'dd/MM/yyyy'}}</p>
                <p class="card-title" style="color: rgb(122, 122, 122); " *ngIf="producto">del producto {{producto.titulo}}</p> -->

            </div>
        </div>
        <div class="col-md-0 px-0">
        </div>
        <div class="col-md-2">
            <div class="botones-container">
                <a class="btn btn-lg btn-primary btn-sm btn-block" id="verChat" (click)="verChat()">Ver mensajes</a>
            </div>
            <ul *ngIf="notificacion">
                <i class="fas fa-comments" style="color: rgb(50, 165, 15);"></i>
            </ul>
        </div>
    </div>
</div>