<div class="col mb-4 animated fadeIn ">
    <div class="card h-100 ">
        <div class="container">
            <img *ngIf="!imagenFirebase" class="card-img-top img-hover-zoom" src="{{direccionImagen + comprador.img}}" alt="Card image cap">
            <img *ngIf="imagenFirebase" class="card-img-top img-hover-zoom" src="{{comprador.img}}" alt="Card image cap">
        </div>
        <div class="card-body nombre">
            <h5 class="card-title">{{comprador.nombre}} {{comprador.apellidos}}</h5>
            <div class="row">
                <strong class="col-md-12">{{comprador.email}}</strong>
                <p style="margin: auto;">Tlf: {{comprador.numeroTelefono}}</p>
            </div>
            <button type="submit" class="btn btn-lg btn-danger btn-sm btn-block mt-1" *ngIf="admin" style="width: 50%; margin-left:25%;" (click)="borrarComprador()">
                Eliminar comprador
            </button>
        </div>
    </div>
</div>