<!-- <div class="wrapper">
    <form class="form-signin" autocomplete="off" [formGroup]="registrarProveedorForm" (ngSubmit)="crearProveedor()" id="loginform">
        <h2 class="form-signin-heading">Registrar como proveedor</h2>
        <input type="text" class="form-control" placeholder="Nombre/ Empresa" formControlName="nombreEmpresa" />
        <label class="checkbox">
            <input type="checkbox" [(ngModel)]="autonomo" formControlName="autonomo"> Autónomo
          </label>
        <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email" />
        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
        <input type="password" class="form-control" placeholder="Repite contraseña" formControlName="password2" />
        <h5 class="card-title">Sector</h5>
        <div class="form-group">
            <select class="form-control form-control-sm" id="sector" formControlName="sector">
                <option value="Libros, Música, Vídeo y DVD">Libros, Música, Vídeo y DVD</option> 
                <option value="Consolas y videojuegos" selected="selected">Consolas y videojuegos</option>
                <option value="Informática">Informática</option>
                <option value="Electrónica">Electrónica</option>
                <option value="Accesorios de electrónica">Accesorios de electrónica</option>
                <option value="Electrodomésticos grandes">Electrodomésticos grandes</option>
                <option value="Hogar y cocina">Hogar y cocina</option>
                <option value="Software y videojuegos para PC">Software y videojuegos para PC</option>
                <option value="Juguetes y juegos">Juguetes y juegos</option>
                <option value="Zapatos y Complementos">Zapatos y Complementos</option>
                <option value="Relojes">Relojes</option>
                <option value="Productos para bebé">Productos para bebé</option>
                <option value="Coche y moto">Coche y moto</option>
                <option value="Deportes y aire libre">Deportes y aire libre</option>
                <option value="Joyería">Joyería</option>
                <option value="Equipaje">Equipaje</option>
                <option value="Iluminación">Iluminación</option>
                <option value="Oficina y papelería">Oficina y papelería</option>
                <option value="Salud y cuidado personal">Salud y cuidado personal</option>
                <option value="Instrumentos musicales">Instrumentos musicales</option>
                <option value="Ropa y Accesorios">Ropa y Accesorios</option>
                <option value="Jardín">Jardín</option>
                <option value="Belleza">Belleza</option>
            </select>
        </div>
        <input type="text" class="form-control" placeholder="Registro mercantil" formControlName="registroMercantil" [hidden]="autonomo" />
        <input type="text" class="form-control" placeholder="nif" formControlName="nif" [hidden]="!autonomo" />
        <input type="text" class="form-control" placeholder="direccion" formControlName="direccion" />
        <input type="text" class="form-control" placeholder="cuentaBancariaIBAN" formControlName="cuentaBancariaIBAN" />
        <input type="text" class="form-control" placeholder="titularCuenta" formControlName="titularCuenta" />
        <label class="checkbox">
        <input type="checkbox" formControlName="terminos"> Aceptar los <a href="/terminos-registro">Terminos</a>
      </label>
        <div class="row">
            <div class="col text-danger">
                <p *ngIf="campoNoValido('nombreEmpresa')">*El nombre es obligatorio</p>
                <p *ngIf="campoNoValido('email')">*El email es obligatorio y tiene que ser válido</p>
                <p *ngIf="contrasenasNoValidas()">*Las contraseñas deben ser iguales</p>
                <p *ngIf="campoNoValido('sector')">*El sector es obligatorio</p>
                <p *ngIf="campoNoValido('direccion')">*La dirección es obligatoria</p>
                <p *ngIf="campoNoValido('cuentaBancariaIBAN')">*La cuenta bancaria es obligatoria</p>
                <p *ngIf="campoNoValido('titularCuenta')">*El titular de la cuenta es obligatorio</p>
                <p *ngIf="campoNoValido('registroMercantil') &&!autonomo">*El registro mercantil es obligatorio</p>
                <p *ngIf="campoNoValido('nif')">*El nif es obligatorio</p>
                <p *ngIf="aceptaTerminos()">*Debes aceptar los términos de uso</p>
            </div>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registrarProveedorForm.invalid">Iniciar</button>

    </form>
</div> -->



<div class="wrapper login">
    <div style="text-align: center; margin-bottom: 10px;">
        <a href="/"><img src="./assets/images/logo-transparente.png" /> </a>
    </div>

    <form class="form-registro" autocomplete="off" [formGroup]="registrarProveedorForm" (ngSubmit)="crearProveedor()" id="loginform">
        <h2 class="form-signin-heading" style="text-align: center;">Nuevo proveedor</h2>
        <hr>

        <p class="aviso">(*) Campos opcionales</p>

        <div class="form-group">
            <label for="nombre">Empresa</label>
            <input type="text" class="form-control" name="nombreEmpresa" id="nombreEmpresa" formControlName="nombreEmpresa" [class.is-invalid]="campoNoValido('nombreEmpresa')">
            <small *ngIf="campoNoValido('nombreEmpresa')" class="text-danger">Nombre de empresa requerido</small>
        </div>

        <div class="form-group">
            <input type="checkbox" name="autonomo" [(ngModel)]="autonomo" id="autonomo" formControlName="autonomo"> Soy autónomo <a class="aviso" style="text-decoration: none;">(*)</a>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Ejemplo: email@email.com" formControlName="email" [class.is-invalid]="emailNoValido">
            <small *ngIf="emailRequerido" class="text-danger">Email requerido</small>
            <small *ngIf="emailFormatoNoValido" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password" [class.is-invalid]="passwordNoValido">
            <small *ngIf="passwordRequerido" class="text-danger">Contraseña requerida</small>
            <small *ngIf="passwordFormato && !passwordRequerido" class="text-danger">La contraseña debe tener una longitud mínima de entre 4 y 16 caracteres</small>
        </div>

        <div class="form-group">
            <label for="password2">Repita la contraseña</label>
            <input type="password" class="form-control" name="password2" id="password2" formControlName="password2" [class.is-invalid]="passwordNoValido || contrasenasNoValidas()">
            <small *ngIf="passwordRequerido2" class="text-danger">Repetición de contraseña requerida</small>
            <small *ngIf="contrasenasNoValidas() && !passwordRequerido2" class="text-danger">Las contraseñas no coinciden</small>
        </div>

        <div class="form-group">
            <label for="sector">Sector principal</label>
            <select class="form-control form-control-sm" id="sector" formControlName="sector">
                <option value="Libros, Música, Vídeo y DVD" selected="selected">Libros, Música, Vídeo y DVD</option> 
                <option value="Consolas y videojuegos">Consolas y videojuegos</option>
                <option value="Informática">Informática</option>
                <option value="Electrónica">Electrónica</option>
                <option value="Accesorios de electrónica">Accesorios de electrónica</option>
                <option value="Electrodomésticos grandes">Electrodomésticos grandes</option>
                <option value="Hogar y cocina">Hogar y cocina</option>
                <option value="Software y videojuegos para PC">Software y videojuegos para PC</option>
                <option value="Juguetes y juegos">Juguetes y juegos</option>
                <option value="Zapatos y Complementos">Zapatos y Complementos</option>
                <option value="Relojes">Relojes</option>
                <option value="Productos para bebé">Productos para bebé</option>
                <option value="Coche y moto">Coche y moto</option>
                <option value="Deportes y aire libre">Deportes y aire libre</option>
                <option value="Joyería">Joyería</option>
                <option value="Equipaje">Equipaje</option>
                <option value="Iluminación">Iluminación</option>
                <option value="Oficina y papelería">Oficina y papelería</option>
                <option value="Salud y cuidado personal">Salud y cuidado personal</option>
                <option value="Instrumentos musicales">Instrumentos musicales</option>
                <option value="Ropa y Accesorios">Ropa y Accesorios</option>
                <option value="Jardín">Jardín</option>
                <option value="Belleza">Belleza</option>
            </select>
        </div>

        <div class="form-group">
            <label for="direccion" [hidden]="autonomo">Dirección de la empresa</label>
            <label for="direccion" [hidden]="!autonomo">Dirección de residencia</label>
            <input type="text" rows="4" type="text" class="form-control" name="direccion" id="direccion" formControlName="direccion" [class.is-invalid]="campoNoValido('direccion')">
            <small *ngIf="campoNoValido('direccion')" class="text-danger">Dirección requerida</small>
        </div>
        <div class="col-md-4">
            <button mat-raised-button (click)="openDialog()">Ver en el mapa</button>
        </div>
        <div class="form-group">
            <label>Coordenadas de la empresa: Latitud</label>
            <input type="number" class="form-control" name="lat" id="lat" formControlName="lat" [class.is-invalid]="campoNoValido('lat')">
            <small *ngIf="latitudRequerida" class="text-danger">Latitud requerida</small></div>
        <div class="form-group">
            <label>Coordenadas de la empresa: Longitud</label>
            <input type="munber" class="form-control" name="lng" id="lng" formControlName="lng" [class.is-invalid]="campoNoValido('lng')">
            <small *ngIf="longitudRequerida" class="text-danger">Longitud requerida</small>
        </div>

        <div class="form-group" [hidden]="autonomo">
            <label for="registroMercantil">CIF</label><a class="aviso" style="text-decoration: none;"> (Código de identificación fiscal de la empresa)</a>
            <input type="text" class="form-control" name="registroMercantil" placeholder="Ejemplo: B-72313251" id="registroMercantil" formControlName="registroMercantil" [class.is-invalid]="campoNoValido('registroMercantil') || cifFormato">
            <small *ngIf="campoNoValido('registroMercantil') && !cifFormato" class="text-danger">CIF requerido</small>
            <small *ngIf="cifFormato" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group" [hidden]="!autonomo">
            <label for="nif">NIF</label>
            <input type="text" class="form-control" name="nif" placeholder="Ejemplo: 72849135X" id="nif" formControlName="nif" [class.is-invalid]="campoNoValido('nif') || nifFormato">
            <small *ngIf="campoNoValido('nif') && !nifFormato" class="text-danger">NIF requerido</small>
            <small *ngIf="nifFormato" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group">
            <label for="cuentaBancariaIBAN">IBAN</label>
            <input type="text" placeholder="Ejemplo: ES3912341234250123456789" class="form-control" name="cuentaBancariaIBAN" id="cuentaBancariaIBAN" formControlName="cuentaBancariaIBAN" [class.is-invalid]="cuentaBancariaIbanNoValido">
            <small *ngIf="cuentaBancariaIBANRequerido" class="text-danger">IBAN requerido</small>
            <small *ngIf="cuentaBancariaFormato && !cuentaBancariaIBANRequerido" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group">
            <label for="titularCuenta">Titular de la cuenta</label>
            <input type="text" class="form-control" name="titularCuenta" id="titularCuenta" placeholder="Ejemplo: SERGIO PEREA RUIZ" formControlName="titularCuenta" [class.is-invalid]="campoNoValido('titularCuenta') || titularFormato">
            <small *ngIf="campoNoValido('titularCuenta') && !titularFormato" class="text-danger">Titular de la cuenta requerido</small>
            <small *ngIf="titularFormato" class="text-danger">Formato inválido</small>
        </div>

        <br>
        <hr>

        <div class="form-group">
            <input type="checkbox" formControlName="terminos" [class.is-invalid]="aceptaTerminos()"> Acepto los <a href="/terminos-uso-y-aviso-legal" class="link">términos de uso</a><br>
            <small *ngIf="aceptaTerminos()" class="text-danger">Debe aceptar los términos</small>
        </div>

        <br>

        <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit">Registrarse</button>
        <!-- [disabled]="registrarProveedorForm.invalid" -->


        <br>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                ¿Ya tiene cuenta?<a routerLink="/login" class="link m-l-5"><b> Inicie sesión</b></a>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                ¿Trabaja aquí?<a routerLink="/login/empleado" class="link m-l-5"><b> Acceda como empleado</b></a>
            </div>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                <a routerLink="/" class="link m-l-5"><b>Volver a la web</b></a>
            </div>
        </div>


    </form>
</div>