<div *ngIf="usuario === 'comprador' || usuario === 'proveedor'">

    <form class="form p-t-20" autocomplete="off" [formGroup]="incidenciaForm" (submit)="crearIncidencia()">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Nueva incidencia</h4>
                        <h5 class="card-subtitle">Dueño (comprador): {{compradorNombre}}</h5>
                        <h5 class="card-subtitle" *ngIf="compradorNombre === ''">Dueño (proveedor): {{proveedorNombre}}</h5>

                        <div class="form-group">
                            <label for="titulo">Título</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="titulo" placeholder="Problema al comprar cualquier producto" formControlName="titulo">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="descripcion" placeholder="Tras haber realizado la compra..." formControlName="descripcion">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="tematica">Temática</label>
                            <select class="form-control form-control-sm" id="tematica" formControlName="tematica">
                                <option value="Login" selected="selected">Login</option> 
                                <option value="Registro">Registro</option>
                                <option value="Compras">Compras</option>
                                <option value="Ventas">Ventas</option>
                                <option value="Devoluciones">Devoluciones</option>
                                <option value="Empleo">Empleo</option>
                                <option value="Contacto">Contacto</option>
                                <option value="Carrito de compra">Carrito de compra</option>
                                <option value="Compras">Compras</option>
                                <option value="Soporte">Soporte</option>
                                <option value="Legal">Legal</option>
                                <option value="Mi Cuenta">Mi cuenta</option>
                                <option value="Productos">Productos</option>
                                <option value="Envío">Envío</option>
                                <option value="Pago">Pago</option>
                            </select>
                            <!-- <br> -->
                            <!-- <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="text" class="form-control" id="tematica" placeholder="Informática, Deporte, ..." formControlName="tematica">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="incidenciaForm.invalid">
                    <i class="fa fa-save"></i>
                    Publicar Incidencia
            </button>
        </div>
    </form>

</div>