<div class="wrapper login" *ngIf="usuario === 'comprador' || usuario === 'proveedor'">

    <form class="form-registro" autocomplete="off" [formGroup]="incidenciaForm" (ngSubmit)="crearIncidencia()" id="loginform">
        <h2 class="form-signin-heading" style="text-align: center;">Nueva incidencia</h2>
        <hr>

        <p class="aviso">(*) Campos opcionales</p>

        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" formControlName="titulo" [class.is-invalid]="tituloNoValido">
            <small *ngIf="tituloCampoRequerido" class="text-danger">Título requerido.</small>
            <small *ngIf="titulo.errors.esSpam && !tituloCampoRequerido" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
        </div>

        <div class="form-group">
            <label for="descripcion">Detalles de la incidencia</label>
            <textarea type="text" class="form-control" id="descripcion" formControlName="descripcion" [class.is-invalid]="descripcionNoValido"></textarea>
            <small *ngIf="descripcionCampoRequerido" class="text-danger">Descripción requerida.</small>
            <small *ngIf="descripcion.errors.esSpam && !descripcionCampoRequerido" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
        </div>

        <div class="form-group">
            <label for="tematica">Asunto</label>
            <select class="form-control form-control-sm" id="tematica" formControlName="tematica">
                <option value="Login" selected="selected">Login</option> 
                <option value="Registro">Registro</option>
                <option value="Garantía">Garantía</option>
                <option value="Compras">Compras</option>
                <option value="Ventas">Ventas</option>
                <option value="Devoluciones">Devoluciones</option>
                <option value="Empleo">Empleo</option>
                <option value="Contacto">Contacto</option>
                <option value="Carrito de compra">Carrito de compra</option>
                <option value="Compras">Compras</option>
                <option value="Soporte">Soporte</option>
                <option value="Legal">Legal</option>
                <option value="Mi Cuenta">Mi cuenta</option>
                <option value="Productos">Productos</option>
                <option value="Envío">Envío</option>
                <option value="Pago">Pago</option>
            </select>
        </div>

        <hr>
        <br>
        <button class="btn btn-lg btn-primary btn-block btn-sm" id="submit" type="submit">Publicar</button>

    </form>
</div>