<div>
    <h2 style="text-align: left;">SOLICITUDES COMERCIALES</h2>
    <h6 style="text-align: left;">Por favor, si necesita establecer contacto con esta entidad para tratar algún tema comercial, ya sean propuestas de marketing, asociaciones temporales, fusiones empresariales, patrocinios, ..., no dude en ponerse en contacto a través de correo electrónico
        con nuestro administrador responsable de todo aquello relacionado con nuestra actividad económica y de marketing.</h6>
    <h5 style="text-align: center;">📩 deals_liberty_valley@gmail.com</h5>
</div>