<div class="wrapper">
    <h2 class="card-title text-center">Solicitudes comerciales</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 descripcion-container">
            <p class="descripcion text-left">Por favor, si necesita establecer contacto con esta entidad para tratar algún tema comercial, ya sean propuestas de marketing, asociaciones temporales, fusiones empresariales, patrocinios, ..., no dude en ponerse en contacto a través de correo
                electrónico con nuestro administrador responsable de todo aquello relacionado con nuestra actividad económica y de marketing.<br><br>Gracias.
            </p>
            <h5 class="descripcion-titulo text-center"><strong>sellersplazacomercial@gmail.com</strong></h5>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>