<!-- <div class="home">
    <div class="w-75 centrado ">
        <div class="row row-cols-1 row-cols-md-3 ">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productos "></app-producto-tarjeta>
        </div>
    </div>
</div> -->

<div class="row centrado" *ngIf="!noVistos">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● Productos vistos recientemente ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="!noVistos">
    <div class="w-75 centrado">
        <div class="row row-cols-1 row-cols-md-3 tarjeta" *ngIf="ultimos3.length >= 3">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of ultimos3"></app-producto-tarjeta>
        </div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta" *ngIf="ultimos3.length == 1">
            <app-producto-tarjeta style="margin-left:33%;" [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of ultimos3"></app-producto-tarjeta>
        </div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta" *ngIf="ultimos3.length == 2">
            <app-producto-tarjeta style="margin-left:11%;" [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of ultimos3"></app-producto-tarjeta>
        </div>
    </div>
</div>

<div class="row centrado mt-5" *ngIf="!noVistos">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● Productos de tu interés ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="!noVistos">
    <div class="w-75 centrado">
        <div class="row row-cols-1 row-cols-md-3 tarjeta">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosSegunCategoria"></app-producto-tarjeta>
        </div>
    </div>
</div>

<div class="row centrado">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length == 0" style="color: rgb(122, 122, 122);">● Productos más vendidos ●</h5>
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length != 0" style="color: rgb(122, 122, 122);">● Productos relacionados más vendidos ●</h5>
    </div>
</div>

<div class="home mb-4">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosMasVendidos"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="row centrado mt-5">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length == 0" style="color: rgb(122, 122, 122);">● Productos más valorados ●</h5>
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length != 0" style="color: rgb(122, 122, 122);">● Productos relacionados más valorados ●</h5>
    </div>
</div>

<div class="home mb-4">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosMasValorados"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="row centrado mt-5">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length == 0" style="color: rgb(122, 122, 122);">● Productos mejor valorados ●</h5>
        <h5 class="mt-3 mb-2 text-center" *ngIf="productosSegunCategoria.length != 0" style="color: rgb(122, 122, 122);">● Productos relacionados mejor valorados ●</h5>
    </div>
</div>

<div class="home mb-5">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosMejorValorados"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<h3 class="mt-5 mb-1 text-center" *ngIf="productosSegunCategoria.length == 0" style="color: rgb(68, 68, 68);">Tal vez te pueda interesar...</h3>

<div class="row centrado mt-0" *ngIf="productosSegunCategoria.length == 0">
    <div class="col-md-12" *ngIf="!productosCategoriaRandom1.length==0">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● {{productosCategoriaRandom1[0].categoria}} ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="productosSegunCategoria.length == 0">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosCategoriaRandom1"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="row centrado mt-0" *ngIf="productosSegunCategoria.length == 0">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" *ngIf="!productosCategoriaRandom2.length==0" style="color: rgb(122, 122, 122);">● {{productosCategoriaRandom2[0].categoria}} ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="productosSegunCategoria.length == 0">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosCategoriaRandom2"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<h3 class="mt-5 mb-1 text-center" *ngIf="productosCategoria1.length != 0" style="color: rgb(68, 68, 68);">Categorias recomendadas para tí</h3>


<div class="row centrado mt-0" *ngIf="productosCategoria1.length != 0">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● {{productosCategoria1[0].categoria}} ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="productosCategoria1.length != 0">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosCategoria1"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<!-- <div class="row centrado mt-5" *ngIf="(productosCategoria2.length != 0) && (productosCategoria2[0].categoria != productosCategoria1[0].categoria)"> -->
<div class="row centrado mt-5" *ngIf="productosCategoria2.length != 0">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● {{productosCategoria2[0].categoria}} ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="productosCategoria2.length != 0">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosCategoria2"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>

<div class="row centrado mt-5" *ngIf="productosCategoria3.length != 0">
    <div class="col-md-12">
        <h5 class="mt-3 mb-2 text-center" style="color: rgb(122, 122, 122);">● {{productosCategoria3[0].categoria}} ●</h5>
    </div>
</div>

<div class="home mb-4" *ngIf="productosCategoria3.length != 0">
    <div class="row">
        <div class="col"></div>
        <div class="row row-cols-1 row-cols-md-3 tarjeta col-md-10">
            <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)" *ngFor="let producto of productosCategoria3"></app-producto-tarjeta>
        </div>
        <div class="col"></div>
    </div>
</div>