a.botones {
    display: inline-block;
    width: 100%;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.75em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: rgb(235, 235, 235);
    text-align: center;
    transition: all 0.2s;
}

a.botones:hover {
    background-color: #afe2ff;
}

@media all and (max-width:30em) {
    a.botones {
        display: block;
        margin: 0.2em auto;
    }
}

.precio {
    width: 40%;
}

.filtro {
    background-color: rgb(240, 240, 240);
    border: 2px solid rgba(78, 78, 78, 0.1);
}

.orden {
    margin-left: auto;
    margin-top: 20px;
    margin-right: 50px;
}