<div class="col mb-4 animated fadeIn " (click)="verProducto()">
    <div class="card h-100 ">
        <div class="container">

            <img *ngIf="!imagenFirebase && !noImagen" class="card-img-top img-hover-zoom" src="{{direccionImagen + producto.imagenes[0]}}" alt="Card image cap">
            <img *ngIf="!imagenFirebase && noImagen" class="card-img-top img-hover-zoom" src="{{direccionImagen + 'no-img.jpg'}}" alt="Card image cap">
            <img *ngIf="imagenFirebase" class="card-img-top img-hover-zoom" src="{{producto.imagenes[0]}}" alt="Card image cap">
        </div>
        <div class="card-body nombre mb-3">
            <h5 class="card-title">{{producto.titulo}}</h5>

            <h6 class="card-title text-white bg-secondary" style="margin-top:0px; margin-bottom:2px;  cursor: pointer;">{{proveedor}}</h6>
            <div style="height: auto;">
                <img *ngIf="producto.productoEstrella" style="margin-left: 5px; float: left; max-width: 80px;" src="/assets/images/producto-estrella.png" width="20%">

                <ngb-rating [max]="5" [(rate)]="estrellas" [readonly]="true"></ngb-rating> <a style="margin-left:5px; font-size: small;">({{producto.valoraciones.length}} Valoraciones)</a><br>
            </div>
            <strong class="text-success">{{producto.precio}} €</strong> <a style="margin-left:5%; font-size: small; padding-bottom: 10px;">({{producto.unidadesVendidas}} Ud.vendidas)</a>


        </div>

    </div>
</div>