<div class="wrapper">
    <form class="form-signin" autocomplete="off" [formGroup]="registrarCompradorForm" (ngSubmit)="crearComprador()" id="loginform">
        <h2 class="form-signin-heading">Registrar como Comprador</h2>
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre" />
        <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos" />
        <input type="email" class="form-control" placeholder="Correo electrónico" formControlName="email" />
        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" />
        <input type="password" class="form-control" placeholder="Repite contraseña" formControlName="password2" />
        <input type="date" class="form-control" formControlName="fechaNacimiento" />
        <input type="text" class="form-control" placeholder="Nacionalidad" formControlName="nacionalidad" />
        <input type="text" class="form-control" placeholder="Pais de residencia" formControlName="paisResidencia" />
        <input type="text" class="form-control" placeholder="Ciudad" formControlName="ciudad" />
        <input type="text" class="form-control" placeholder="Localidad" formControlName="localidad" />
        <input type="text" class="form-control" placeholder="Código Postal" formControlName="codigoPostal" />
        <input type="text" class="form-control" placeholder="direccionResidencia" formControlName="direccionResidencia" />
        <label class="checkbox">
        <input type="checkbox" formControlName="terminos"> Aceptar los <a href="/terminos-registro">Terminos</a>
      </label>
        <div class="row">
            <div class="col text-danger">
                <p *ngIf="campoNoValido('nombre')">*El nombre es obligatorio</p>
                <p *ngIf="campoNoValido('email')">*El email es obligatorio y tiene que ser válido</p>
                <p *ngIf="contrasenasNoValidas()">*Las contraseñas deben ser iguales</p>
                <p *ngIf="aceptaTerminos()">*Debes aceptar los términos de uso</p>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="registrarCompradorForm.invalid">Iniciar</button>

    </form>
</div>