<div class="wrapper mt-5 login" *ngIf="serCompradorForm && proveedor && !yaSoyComprador">

    <form class="form-registro mb-0" autocomplete="off" [formGroup]="serCompradorForm" (ngSubmit)="crearComprador()" id="loginform">
        <h2 class="form-signin-heading mt-3" style="text-align: center;">Convertirme en comprador</h2>
        <hr>

        <p class="aviso">(*) Campos opcionales</p>

        <div class="form-group">
            <label for="nombre"><strong>Nombre</strong></label>
            <input type="text" class="form-control" name="nombre" id="nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido">
            <small *ngIf="nombreRequerido" class="text-danger">Nombre requerido.</small>
        </div>

        <div class="form-group">
            <label for="nombre"><strong>Apellidos</strong></label>
            <input type="text" class="form-control" name="apellidos" id="apellidos" formControlName="apellidos" [class.is-invalid]="apellidosNoValido">
            <small *ngIf="apellidosRequerido" class="text-danger">Apellidos requeridos.</small>
        </div>

        <div class="form-group">
            <label for="fechaNacimiento"><strong>Número de teléfono</strong></label>
            <input type="number" class="form-control" id="numeroTelefono" placeholder="Ejemplo: 638126389" formControlName="numeroTelefono" [class.is-invalid]="tlfCompradorNoValido">
            <small *ngIf="tlfCompradorRequerido" class="text-danger">Teléfono requerido</small>
            <small *ngIf="telefonoFormato && !tlfCompradorRequerido" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group">
            <label for="email"><strong>Email</strong></label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Ejemplo: email@email.com" [readonly]="true" formControlName="email">
            <!-- <small *ngIf="emailRequerido" class="text-danger">Email requerido</small>
            <small *ngIf="emailFormatoNoValido" class="text-danger">Formato inválido</small> -->
        </div>

        <div class="form-group">
            <label for="password"><strong>Contraseña</strong></label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password" [class.is-invalid]="passwordNoValido">
            <small *ngIf="passwordRequerido" class="text-danger">Contraseña requerida</small>
            <small *ngIf="passwordFormato && !passwordRequerido" class="text-danger">La contraseña debe tener una longitud mínima de entre 4 y 16 caracteres</small>
        </div>

        <div class="form-group">
            <label for="password2"><strong>Repita la contraseña</strong></label>
            <input type="password" class="form-control" name="password2" id="password2" formControlName="password2" [class.is-invalid]="passwordNoValido || contrasenasNoValidas()">
            <small *ngIf="passwordRequerido2" class="text-danger">Repetición de contraseña requerida</small>
            <small *ngIf="contrasenasNoValidas() && !passwordRequerido2" class="text-danger">Las contraseñas no coinciden</small>
        </div>

        <div class="form-group">
            <label for="fechaNacimiento"><strong>Fecha de nacimiento</strong></label>
            <input rows="4" type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento" formControlName="fechaNacimiento" [class.is-invalid]="fechaNoValido">
            <small *ngIf="fechaNacimientoRequerido" class="text-danger">Fecha de nacimiento requerida</small>
            <small *ngIf="fechaFechaAnteriorAHoy && !fechaNacimientoRequerido" class="text-danger">La fecha de nacimiento no puede ser futura</small>
        </div>

        <p class="aviso text-center">Datos de envío para pedidos realizados</p>

        <div class="form-group">
            <label for="paisResidencia"><strong>País de residencia</strong></label>
            <input type="text" class="form-control" id="paisResidencia" formControlName="paisResidencia" [class.is-invalid]="paisCompradorNoValido">
            <small *ngIf="paisCompradorRequerido" class="text-danger">País de residencia requerido</small>
        </div>

        <div class="form-group">
            <label for="ciudad"><strong>Ciudad</strong></label>
            <input type="text" class="form-control" id="ciudad" formControlName="ciudad" [class.is-invalid]="ciudadCompradorNoValido">
            <small *ngIf="ciudadCompradorRequerido" class="text-danger">Ciudad requerida</small>
        </div>

        <div class="form-group">
            <label for="localidad"><strong>Localidad</strong></label>
            <input type="text" class="form-control" id="localidad" formControlName="localidad" [class.is-invalid]="localidadCompradorNoValido">
            <small *ngIf="localidadCompradorRequerido" class="text-danger">Localidad requerida</small>
        </div>

        <div class="form-group">
            <label for="codigoPostal"><strong>Código postal</strong></label>
            <input type="number" class="form-control" id="codigoPostal" placeholder="Ejemplo: 41410" formControlName="codigoPostal" [class.is-invalid]="codigoPostalCompradorNoValido">
            <small *ngIf="codigoPostalCompradorRequerido" class="text-danger">Código postal requerido</small>
            <small *ngIf="codigoPostalFormato && !codigoPostalCompradorRequerido" class="text-danger">Formato inválido</small>
        </div>

        <div class="form-group">
            <label for="codigoPostal"><strong>Dirección de residencia</strong></label>
            <input type="text" class="form-control" id="direccionResidencia" formControlName="direccionResidencia" [class.is-invalid]="direccionCompradorNoValido">
            <small *ngIf="direccionCompradorRequerido" class="text-danger">Direccción requerida</small>
        </div>

        <br>
        <hr>

        <div class="form-group">
            <input type="checkbox" formControlName="terminos" [class.is-invalid]="aceptaTerminos()"> Acepto los <a href="/terminos-uso-y-aviso-legal" class="link">términos de uso</a> <br>
            <small *ngIf="aceptaTerminos()" class="text-danger">Debe aceptar los términos</small>
        </div>

        <br>

        <button class="btn btn-lg btn-primary btn-block btn-sm" id="submit" style="width: 40%; margin-left: 60%;" type="submit">Crear cuenta</button>

        <br>

    </form>
</div>