<div class="wrapper">
    <div class="row">
        <form class="form " autocomplete="off">
            <h2 class="card-title text-center goat">🏆󠀠‎‎‎‎‎‎‏‏‎ ‎‏‏‎ ‎ ‎‎‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎󠀠󠀠󠀠G󠀠.O.A.T. ‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎‏‏‎ ‎🏆</h2>
            <h5 class="card-title text-center">Greastest of all times</h5>
            <h2 class="card-title text-center">Top 3 productos mejor valorados en nuestra web</h2>

            <div class="row">
                <div class="col-md-10 form-div ">
                    <div class="card descripcion-container">
                        <div class="card-body formulario ">

                            <div class="row">
                                <div class="col-md-4">
                                    <h2 class="card-title text-center segundo">🥈‎‏</h2>
                                    <app-producto-tarjeta *ngIf="bestValued.length > 1" [producto]="segundo" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                                </div>
                                <div class="col-md-4">
                                    <h2 class="card-title text-center primero">🥇‎‏</h2>
                                    <app-producto-tarjeta *ngIf="bestValued.length > 0" [producto]="primero" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                                </div>
                                <div class="col-md-4">
                                    <h2 class="card-title text-center tercero">🥉‎‏</h2>
                                    <app-producto-tarjeta *ngIf="bestValued.length > 2" [producto]="tercero" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </form>
    </div>
</div>