<div class="card" style="width: 18rem;" (click)="verIncidencia()">
    <div class="card-body">
        <h5 class="card-title">{{incidencia.titulo}}</h5>
        <h6 class="card-subtitle">{{incidencia.fechaPublicacion}}</h6>
        <h6 class="card-subtitle">{{incidencia.tematica}}</h6>
        <h6 class="card-subtitle">{{incidencia.asignado}}</h6>

        <ul *ngIf="res != 0">
            <span class="badge badge-pill red">{{res}}</span>
            <i class="fas fa-exclamation-triangle"></i>
        </ul>
    </div>
</div>