<div class="wrapper" *ngIf="usuario === 'comprador' && producto">
    <div class="row">
        <form class="form-registro" autocomplete="off" [formGroup]="chatForm" (submit)="crearChat()">
            <div class="row">
                <div class="col-md-8 form-div">

                    <div class="card-body formulario">
                        <h5 class="card-title text-left">Nuevo chat con el proveedor {{proveedorNombre}}</h5>
                        <div class="form-group">
                            <p for="mensajes" class="text-left">Nuevo mensaje</p>
                            <textarea type="text" class="form-control" id="mensajes" formControlName="mensajes" [class.is-invalid]="mensajeNoValido"></textarea>
                            <small *ngIf="mensajeCampoRequerido" class="text-danger">Un primer mensaje es requerido.</small>
                            <small *ngIf="mensajes.errors?.esSpam && !mensajeCampoRequerido" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
                        </div>
                        <hr>
                        <button type="submit" class="btn btn-lg btn-primary btn-sm btn-block">
                            Publicar
                        </button>
                    </div>

                </div>
                <div class="col-md-4 infoFinal">
                    <div class="contenido-infoFinal">
                        <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>