<div *ngIf="usuario === 'comprador' && producto">

    <form class="form p-t-20" autocomplete="off" [formGroup]="chatForm" (submit)="crearChat()">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Nuevo chat</h4>
                        <h5 class="card-subtitle">Dueño: {{compradorNombre}}</h5>
                        <h5 class="card-subtitle">Chatear con: {{proveedorNombre}}</h5>

                        <div class="form-group">
                            <label for="mensajes">Añade un mensaje:</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <textarea type="text" class="form-control" id="mensajes" formControlName="mensajes"></textarea>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-2 infoFinal">
                <div class="contenido-infoFinal">
                    <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="chatForm.invalid">
                <i class="fa fa-save"></i>
                Publicar chat
            </button>
        </div>
    </form>
</div>