<div *ngIf="prov || comp">
    <form class="form p-t-20" autocomplete="off" [formGroup]="chatForm" (submit)="actualizarChat()">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Chat room del producto </h4>
                        <h5 class="card-subtitle" *ngIf="comp">Chatear con: {{chat.proveedorNombre}} con id: {{chat.proveedorId}}</h5>
                        <h5 class="card-subtitle" *ngIf="prov">Chatear con: {{compradorNombre}} con id: {{chat.compradorId}}</h5>
                        <div class="form-group">
                            <label for="fechaPublicacion">Fecha de publicación</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input type="string" class="form-control" id="fechaPublicacion" formControlName="fechaPublicacion" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mensajes">Añade un nuevo mensaje:</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <textarea type="text" class="form-control" id="mensajes" *ngIf="prov" formControlName="mensajes"></textarea>
                                <textarea type="text" class="form-control" id="mensajes" *ngIf="comp" formControlName="mensajes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 infoFinal">
                <div class="contenido-infoFinal">
                    <app-producto-tarjeta [producto]="producto" (productoSeleccionado)="verProducto($event)"></app-producto-tarjeta>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="chatForm.invalid">
                    <i class="fa fa-save"></i>
                    Enviar mensaje
            </button>

            <button type="button" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="borrarChat(chat)">
                <i class="fa fa-save"></i>
                Borrar chat
            </button>

        </div>
    </form>
    <div *ngFor="let mensaje of chat.mensajes">
        <p>
            {{mensaje}}
        </p>
    </div>
</div>