.infoFinal {
    border: 1px solid #000;
    border-radius: 1%
}

.contenido-infoFinal {
    padding-top: 20%;
    margin: auto;
}

.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
}

.card-text {
    text-align: center;
}

.col {
    padding-left: 10px;
    padding-right: 10px;
}

.card-img-top {
    cursor: pointer;
    width: 150px;
    margin-right: 30px;
}

.nombre {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}