<form class="form-signin " style="width: 100%;" autocomplete="off" [formGroup]="buscadorForm" (submit)="buscar()">
    <div class="row">

        <div class="col-md-3">
            <p class="card-title mt-2" style="color: rgb(122, 122, 122); margin-left: 1%;">Nombre del comprador: </p>
        </div>
        <div class="col-md-7">
            <input type="text" class="form-control " formControlName="comprador" />
        </div>
        <div class="col-md-2">

            <button class="btn btn-outline-secondary btn-light boton-search" type="submit">Buscar</button>
        </div>
    </div>
</form>

<div class="centrado mt-3">

    <h1 class="mt-3 mb-4 text-center">Compradores</h1>

</div>

<div class="home">
    <div class="w-75 centrado ">
        <div class="row row-cols-1 row-cols-md-3 ">
            <app-comprador-tarjeta [comprador]="comprador" id="compradores" *ngFor="let comprador of compradores"></app-comprador-tarjeta>
        </div>
    </div>
</div>