<form class="form-signin form-inline" style="width: 80%; margin: auto; padding-left: 5%;" autocomplete="off" [formGroup]="buscadorForm" (submit)="buscar()">
    <p class="card-title mt-2" style="color: rgb(122, 122, 122); margin-left: 2%;">Busque por título del producto: </p>
    <input type="text" class="form-control " formControlName="pedido" style="width: 57%; margin-left: 1%" />
    <button class="btn btn-outline-secondary btn-light boton-search" style="margin-left: 2%; " type="submit">Buscar</button>
</form>


<div class="row centrado mt-2">
    <div class="col"></div>
    <div class="col-md-6" style="padding-left:0px;">
        <h1 class="mt-3 mb-4">Mis pedidos</h1>
    </div>
    <div class="col-md-2 mt-4 ordena">
        <a style="text-decoration: none; color: rgb(122, 122, 122); ">Ordenar por: </a>
        <form [formGroup]="orden" id="buscadorform" class="orden">
            <select formControlName="orden" (change)="ordenar()">
            <option value="pedidosMasRecientes" selected="selected" >Más recientes primero</option>
            <option value="pedidosMasAntiguos" >Más antiguos primero</option>
            <option value="unidadesAscendente">Unidades (descendente)</option> 
            <option value="unidadesDescendente" >Unidades (ascendente)</option>
            <option value="precioAscendente">Precio (descendente)</option> 
            <option value="precioDescendente" >Precio (ascendente)</option>
        </select>
        </form>
    </div>
    <div class="col"></div>
</div>

<div class="row centrado">
    <div class="col"></div>
    <div class="col-md-10">
        <app-pedido-tarjeta [pedido]="pedido" id="pedidos" *ngFor="let pedido of pedidos "></app-pedido-tarjeta>
    </div>
    <div class="col"></div>
</div>