<div *ngIf="data">


    <google-map width="900px" height="700px" [center]="center" [zoom]=10>

        <map-marker #marker="mapMarker" [position]="data.posicion[0]" (mapClick)="openInfoWindow(marker)"></map-marker>

        <map-info-window>
            <div class="card ">
                <img class="card-img-top img-hover-zoom proveedor-imagen" src="{{direccionImagenProveedor + data.img}}" alt="Card image cap">
                <div class="card-body nombre">
                    <h4 class="card-title">{{data.nombreEmpresa}}</h4>
                    <h6>Dirección: {{data.direccion}}</h6>
                </div>

            </div>
        </map-info-window>
    </google-map>
</div>