<div class="row fila-cuenta">

    <div class="col-md-1"></div>

    <div class="col-md-4 contenedor-card" routerLink="/mi-perfil">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">👤</p>
            </div>
            <div class="col-md-6 mt-4">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Mi perfil</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2" *ngIf="admin || aT"></div>

    <div class="col-md-4 contenedor-card" *ngIf="admin || aT" routerLink="/perfil/cambiar-contrasena">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">🔐</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Cambiar contraseña</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-4 contenedor-card" *ngIf="prov || comp" routerLink="/mis-chats">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">🗪</p>
            </div>
            <div class="col-md-6 mt-0">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Mis chats y reclamaciones</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-md-4 contenedor-card" *ngIf="aT" routerLink="/mis-incidencias">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">⚠️</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body ">
                    <h3 class="card-title" style="font-size: 25px;">Mis incidencias</h3>
                </div>
            </div>
        </div>
    </div> -->


</div>

<div class="row fila-cuenta">

    <div class="col-md-1"></div>

    <div class="col-md-4 contenedor-card" *ngIf=" prov || comp" routerLink="/perfil/cambiar-contrasena">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">🔐</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Cambiar contraseña</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1" *ngIf="aT"></div>


    <div class="col-md-2"></div>

    <div class="col-md-4 contenedor-card" *ngIf=" aT || comp || prov" routerLink="/mis-incidencias">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <!-- <img src="../../../assets/images/incidencia icono.jpg" class="card-img img-hover-zoom"> ⚠️ -->
                <p class="logo">⚠️</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body ">
                    <h3 class="card-title" style="font-size: 25px;">Mis incidencias</h3>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row fila-cuenta">

    <div class="col-md-1"></div>

    <div class="col-md-4 contenedor-card" *ngIf="comp || prov" (click)="borrarCuenta()">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <p class="logo">❌</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Borrar cuenta</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-2"></div>

    <div *ngIf="comprador" class="col-md-4 contenedor-card" routerLink="/mis-pedidos">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <!-- <img src="../../../assets/images/mis pedidos.png" class="card-img img-hover-zoom"> -->
                <p class="logo">📦</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Mis pedidos</h3>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="prov" class="col-md-4 contenedor-card" routerLink="/mis-ventas">
        <div class="row ">
            <div class="col-md-4 mt-4">
                <!-- <img src="../../../assets/images/mis pedidos.png" class="card-img img-hover-zoom"> -->
                <p class="logo">🧾</p>
            </div>
            <div class="col-md-6 mt-2">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 25px;">Mis ventas</h3>
                </div>
            </div>
        </div>
    </div>

</div>