<div class="row fila-cuenta">

    <div class="col-md-4 contenedor-card">
        <div class="card border-1" routerLink="/mi-perfil">
            <div class="row ">
                <div class="col-md-4">
                    <img src="../../../assets/images/icono.jpg" class="card-img img-hover-zoom">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Mi perfil</h3>
                    </div>
                    <div>
                        <p class="card-text">Editar datos personales y datos de envio</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 contenedor-card">
        <div class="card border-1" routerLink="/perfil/cambiar-contrasena">
            <div class="row ">
                <div class="col-md-4">
                    <img src="../../../assets/images/password icono.jpg" class="card-img img-hover-zoom">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Cambiar contraseña</h3>
                    </div>
                    <div>
                        <p class="card-text">Cambiar la contraseña de la cuenta</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 contenedor-card" *ngIf="prov || comp">
        <div class="card border-1" routerLink="/mis-chats">
            <div class="row ">
                <div class="col-md-4">
                    <img src="../../../assets/images/mensaje icono.png" class="card-img img-hover-zoom">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Mis chats</h3>
                    </div>
                    <div>
                        <p class="card-text">Ver mis chats con proveedores</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<div class="row fila-cuenta">
    <div *ngIf="comprador" class="col-md-4 contenedor-card">
        <div class="card border-1" routerLink="/mis-pedidos">
            <div class="row ">
                <div class="col-md-4">
                    <img src="../../../assets/images/mis pedidos.png" class="card-img img-hover-zoom">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Mis pedidos</h3>
                    </div>
                    <div>
                        <p class="card-text">Lista de mis pedidos realizados</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 contenedor-card" *ngIf="aT || comp || prov">
        <div class="card border-1" routerLink="/mis-incidencias">
            <div class="row ">
                <div class="col-md-4">
                    <img src="../../../assets/images/incidencia icono.jpg" class="card-img img-hover-zoom">
                </div>
                <div class="col-md-6">
                    <div class="card-body">
                        <h3 class="card-title">Mis incidencias</h3>
                    </div>
                    <div>
                        <p class="card-text">Lista de mis incidencias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>