<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="existeTokenYProveedor">
                <a class="nav-link" routerLink="/mis-productos">Mis Productos</a>
            </li>

            <li class="nav-item dropdown  " *ngIf="aT || comp || prov">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Incidencia
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" *ngIf="aT || comp || prov" routerLink="mis-incidencias">Mis incidencias</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="aT" routerLink="incidencias">Incidencias libres</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" *ngIf="comp || prov" routerLink="crear-incidencia">Nueva incidencia</a>
                </div>
            </li>
            <!-- <li class="nav-item" *ngIf="comp || prov">
                <a class="nav-link" routerLink="mis-chats">Mis chats</a>
            </li> -->
        </ul>
        <form class="form-signin form-inline" style="width: 100%; margin: auto; padding-left: 5%;" autocomplete="off" [formGroup]="buscadorForm" (ngSubmit)="buscarProducto()">
            <input type="text" class="form-control " formControlName="producto" style="width: 70%;" />
            <button class="btn btn-outline-white " style="width: 10%;" type="submit">Search</button>
        </form>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown  " *ngIf="token">
                    <a class="nav-link dropdown-toggle" routerLink="mi-cuenta" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Mi cuenta
            </a>
                    <div class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="mi-perfil">Mi perfil</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" (click)="logout()">Cerrar sesion</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" *ngIf="existeTokenYProveedor" routerLink="ser-comprador">Crear cuenta de comprador</a>
                    </div>
                </li>
            </ul>
        </div>



    </div>
    <ul *ngIf="usuario != 'administrador' && usuario != 'asistenteTecnico' && token">
        <span class="badge badge-pill red" *ngIf="res1 !=0">{{res1}}</span>
        <i class="fas fa-comments" routerLink="/mis-chats"></i>
    </ul>
    <ul *ngIf="usuario != 'administrador' && token">
        <span class="badge badge-pill red" *ngIf="res2 !=0">{{res2}}</span>
        <i class="fas fa-exclamation-triangle" routerLink="/mis-incidencias"></i>
    </ul>
    <ul>
        <!-- <i class="fa" style="font-size:24px">&#xf07a;</i>
        <span class='badge badge-warning' id='lblCartCount'> {{res}} </span> -->
        <a routerLink="/mi-carrito" class="nav-link navbar-link-2 waves-effect">
            <span class="badge badge-pill red">{{ res }}</span>
            <i class="fas fa-shopping-cart pl-0"></i>
        </a>
    </ul>

</nav>