.infoFinal {
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(122, 122, 122);
}

.detalles-tecnicos {
    padding-right: 20px;
}

.contenido-infoFinal {
    padding-top: 20%;
    margin: auto;
}

.boton-carrito {
    margin: auto;
    margin-top: 5%;
    font-weight: 6000;
}

#cantidad {
    margin-left: 10px;
}

ngb-rating {
    color: #FFC107;
    font-size: 40px;
}

.precio-unidades {
    margin-bottom: 0px;
    font-size: 13px;
}

.decompra {
    width: 100%;
    padding: 0.5em 1.2em;
    margin: 0.4em 0.3em 0.3em 0.4em;
}

.link {
    color: #2114db;
}

.garantia a {
    font-size: 12px;
    object-fit: contain;
    padding-left: 23px;
}

.botones-container {
    margin-top: 20px;
    margin-bottom: 10px;
}

a.botones {
    display: inline-block;
    width: 100%;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
    background-color: #f8f9fa;
    text-align: center;
    transition: all 0.2s;
}

a.botones:hover {
    background-color: #1076eb;
}

@media all and (max-width:30em) {
    a.botones {
        display: block;
        margin: 0.2em auto;
    }
}

.imagen {
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.alert {
    background-color: rgb(243, 243, 243);
}

.imagen-miniatura {
    cursor: pointer;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.imagenes-container {
    max-height: 100px;
    max-width: 100px;
    margin-top: 10px;
    border-radius: 1px;
}

.table {
    padding-left: 20px;
}

.aviso {
    color: rgb(173, 173, 173);
}

.soyProveedor {
    border-radius: 2%;
    border: 2px solid rgb(122, 122, 122);
    background-color: rgb(255, 255, 255);
    height: 150px;
    padding-top: 20px;
}

.btn-primary {
    color: #fff;
    background-color: #2a1fc7;
    border-color: #2a1fc7;
    width: 75%;
    margin: 0.2em auto;
    object-fit: contain;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1c1581;
    border-color: #1c1581;
    width: 75%;
    margin: 0.2em auto;
    object-fit: contain;
}