<!-- <app-navbar [cuant]=(cantidades)></app-navbar> -->
<div class="wrapper" *ngIf="producto">

    <div class="row">
        <div class="col-md-3 producto-izquierda">

            <div *ngFor="let imagen of producto.imagenes">

                <img src="{{direccionImagen + imagen}}" width="100%">
            </div>



        </div>
        <div class="col-md-5 producto-derecha">
            <h3 style="text-align: center;">{{producto.titulo}}</h3>
            <h6>{{producto.proveedorNombre}}</h6>
            <p>
                {{producto.descripcion}}
            </p>

            <div>
                <strong>Precio por unidad: {{producto.precio}}€  </strong>| Unidades mínimas: {{producto.unidadesMinimas}}

                <br>

            </div>

            <div>
                <form [formGroup]="productoForm">
                    <label for="cantidad"><strong>Cantidad : </strong></label>
                    <input type="number" min="{{producto.unidadesMinimas}}" max="{{producto.stock}}" step="1" id="cantidad" formControlName="cantidadProducto">

                </form>
            </div>


        </div>
        <div class="col-md-2 infoFinal">
            <div class="contenido-infoFinal">
                <strong>Precio actual : </strong> {{producto.precio * cantidadProducto}}€ con unidades {{cantidadProducto}}
                <a class="btn btn-info boton-carrito" (click)="alCarrito(producto)">
                    Añadir al carrito
                </a>
                <br>
                <a class="btn btn-success boton-carrito" (click)="comprar(producto)">
                    Comprar
                </a>
                <br>
                <br> <strong>¿Quieres proponer una oferta?,</strong>
                <br> <strong>¿tienes dudas sobre el producto?, ...</strong>
                <br>
                <a class="btn btn-success boton-carrito" routerLink="/crear-chat">
                    ¡Chatea con el proveedor!
                </a>
                <br>
                <a class="btn btn-success boton-carrito" routerLink="/escaparate/{{proveedorId}}">
                    Tienda del {{producto.proveedorNombre}}
                </a>

            </div>
        </div>
    </div>
    <br>
    <div class="col-md-3 producto-izquierda">
        <h4>Detalles técnicos</h4>
        <table class="table table-bordered">
            <tr *ngFor="let datos of producto.datosTecnicos">
                <td>{{datos.datosTecnicosTitulo}}</td>
                <td>{{datos.datosTecnicosDescripcion}}</td>
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" *ngIf="prov" (click)="goEditIfProveedor();"><i class="fa fa-save"></i> Actualizar producto</button>
    <br>

    <div class="row">
        <div class="col-md-6 titulo-valorar">

            <h4 *ngIf="yaValorado"> Todas las valoraciones </h4>
            <h4 *ngIf="!yaValorado"> Valoraciones </h4>


            <div class="alert alert-success" *ngFor="let item of producto.valoraciones; let i = index">
                <ngb-rating [max]="5" [(rate)]="item.puntuacion" [readonly]="true"></ngb-rating>
                <p>Comentario:
                    <br> "{{item.comentario}}"
                </p>
                <p>Publicado por:
                    <br> {{this.nombres[i]}}
                </p>
            </div>

        </div>

        <div class="col-md-6" *ngIf="flag && !yaValorado">
            <h5>Valorar el producto</h5>
            <form class="form p-t-20" autocomplete="off" [formGroup]="valoracionForm">
                <div class="form-group">
                    <label for="comentario">Comentario</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input type="text" class="form-control" id="comentario" formControlName="comentario">
                    </div>
                </div>
                <div class="form-group">
                    <label for="puntuacion">Puntuación</label>
                    <div class="input-group">
                        <ngb-rating [max]="5" [(rate)]="starRating" [resettable]="true" [readonly]="false" (hover)="isRating = true; hovered = $event" (leave)="isRating = false; hovered = 0" (rateChange)="getRating($event)"></ngb-rating>
                        <br>👉 Si quiere puntuar con 0 estrellas, haga
                        <br>click sobre la última estrella seleccionada
                    </div>
                </div>
            </form>
            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" [disabled]="valoracionForm.invalid" (click)="publicarValoracion()">
            <i class="fa fa-save"></i>
            Publicar valoración
        </button>
        </div>

        <div class="col-md-6 titulo-valorar" *ngIf="yaValorado">
            <h4> Mi valoración </h4>


            <div class="alert alert-success">
                <ngb-rating [max]="5" [(rate)]="miValoracion.puntuacion" [readonly]="true"></ngb-rating>
                <p>Comentario:
                    <br> "{{miValoracion.comentario}}"
                </p>

                <td class="text-nowrap text-center">
                    <a class="cursor" data-toggle="tooltip" data-original-title="Borrar" (click)="borrarValoracion()">
                        <i class="fa fa-trash-o" style="font-size:24px;color:red"></i>
                    </a>
                </td>

            </div>

        </div>

    </div>


</div>