<div class="wrapper" *ngIf="producto">

    <div class="row">
        <div class="col-md-3 producto-izquierda">

            <div *ngFor="let imagen of producto.imagenes">

                <img src="{{direccionImagen + imagen}}" width="100%">
            </div>

            <button type="submit" class="btn btn-success btn-block waves-effect waves-light m-r-10" (click)="goEditIfProveedor();"><i class="fa fa-save"></i> Actualizar producto</button>

        </div>
        <div class="col-md-4 producto-derecha">
            <h3 style="text-align: center;">{{producto.titulo}}</h3>
            <h6>{{producto.proveedorNombre}}</h6>
            <p>
                {{producto.descripcion}}
            </p>

            <div>
                <strong>Precio por unidad: </strong>{{producto.precio}}€
                <br> <strong>Unidades mínimas: </strong>{{producto.unidadesMinimas}}
                <br>

            </div>
            <h4>Detalles técnicos</h4>
            <table class="table table-bordered">
                <tr *ngFor="let datos of producto.datosTecnicos">
                    <td>{{datos.titulo}}</td>
                    <td>{{datos.descripcion}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>