<div class="wrapper">
    <h2 class="card-title text-center">Soporte/Contacto</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 descripcion-container">
            <p class="descripcion text-left">En caso de necesitar soporte respecto a cualquier duda de nuestros términos explicitados en nuestra política de privacidad o en nuestros términos de uso, o bien por necesidad de contactar por un problema de fuerza mayor (problemas encontrados
                en nuestra plataforma, problemas de pago, de registro, etc.), por favor contáctenos a través del correo electrónico que aparece más abajo. <br><br>Gracias.
            </p>
            <h5 class="descripcion-titulo text-center"><strong>sellersplazasoportecontact@gmail.com</strong></h5>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>