<div class="wrapper login">
    <form class="form-registro" autocomplete="off" [formGroup]="contrasenaForm" (ngSubmit)="cambiarContrasena()" id="loginform">
        <h2 class="form-signin-heading mt-3" style="text-align: center;">Nueva contraseña</h2>
        <hr>

        <p class="aviso">(*) Campos opcionales</p>

        <div class="form-group">
            <label for="password"><strong>Contraseña actual</strong></label>
            <input type="password" class="form-control" name="password" id="password" formControlName="password" [class.is-invalid]="passwordNoValido">
            <small *ngIf="passwordRequerido" class="text-danger">Contraseña actual requerida</small>
            <small *ngIf="passwordFormato && !passwordRequerido" class="text-danger">La contraseña debe tener una longitud mínima de entre 4 y 16 caracteres</small>
            <small *ngIf="password.errors?.esSpam && !passwordRequerido && !passwordFormato" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
        </div>

        <div class="form-group">
            <label for="nuevaPassword"><strong>Nueva contraseña</strong></label>
            <input type="password" class="form-control" id="nuevaPassword" formControlName="nuevaPassword" [class.is-invalid]="passwordNoValido">
            <small *ngIf="nuevaPassRequerida" class="text-danger">Nueva contraseña requerida</small>
            <small *ngIf="nuevaPassFormato && !nuevaPassRequerida" class="text-danger">La contraseña debe tener una longitud mínima de entre 4 y 16 caracteres</small>
            <small *ngIf="nuevaPassword.errors?.esSpam && !nuevaPassRequerida && !nuevaPassFormato" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
        </div>

        <div class="form-group">
            <label for="nuevaPassword2"><strong>Repita la nueva contraseña</strong></label>
            <input type="password" class="form-control" name="nuevaPassword2" id="nuevaPassword2" formControlName="nuevaPassword2" [class.is-invalid]="passwordNoValido || contrasenasNoValidas()">
            <small *ngIf="nuevaPass2Requerida" class="text-danger">Repetición de nueva contraseña requerida</small>
            <small *ngIf="contrasenasNoValidas() && !nuevaPass2Requerida" class="text-danger">La nueva contraseña no coincide con la repetida</small>
            <small *ngIf="nuevaPassword2.errors?.esSpam && !nuevaPass2Requerida && !contrasenasNoValidas()" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
        </div>
        <hr>

        <br>

        <button class="btn btn-lg btn-primary btn-block btn-sm" id="submit" style="width: 40%; margin-left: 60%;" type="submit">Actualizar contraseña</button>

    </form>
</div>