<div class="wrapper">
    <h2 class="card-title text-center">Sobre nosotros</h2>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 descripcion-container">
            <p class="descripcion text-left"> SellersPlaza fue concebido en Sevilla en el 2021 por dos emprendedores y además compañeros de profesión, que desearon embarcarse en un proyecto software donde todos las empresas dedicadas a las ventas al por mayor pudieran disfrutar de un
                espacio unificado donde poder comercializar todos sus productos a todo tipo de compradores. Conseguimos que miles de empresas puedan hacer llegar su negocio a todos tipo de compradores de toda España y que los compradores puedan obtener
                cualquier tipo de producto de forma rápida y fiable. Evitamos además el estancamiento de negocios que estaban limitados geográficamente al mero negocio local, reuniendo a todos los potenciales compradores en un único sitio. Nunca ha sido
                más fácil y rápido encontrar un proveedor de confianza. <br><br>
            </p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<br>
<h2 style="text-align:center">Nuestro equipo</h2>

<div class="row">

    <div class="col-md-2"></div>
    <div class="column">
        <div class="card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 info">
                    <img class="card-img-top img-hover-zoom" src="/assets/images/fran.jpeg" alt="Card image cap" width="100%">
                </div>
            </div>
            <div class="container">
                <h2 class="text-center">Frank Rodríguez</h2>
                <p class="title text-center">CEO & Founder</p>
                <p class="text-center">
                    <i>“Hard work beats talent when talent doesn’t work hard.”</i>
                </p>
            </div>
        </div>
    </div>




    <div class="column">
        <div class="card">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 info">
                    <img class="card-img-top img-hover-zoom" src="/assets/images/sergio.jpeg" alt="Card image cap" width="100%">
                </div>
            </div>
            <div class="container">
                <h2 class="text-center">Sergio Perea</h2>
                <p class="title text-center">CEO & Founder</p>
                <p class="text-center">
                    <i>“Work hard in silence, and let the success be the noise.”</i>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>