<div class="about-section">
    <h1>Sobre nosotros</h1>
    <p>Valley Ventas nació en Sevilla, en el año 1984 como un pequeño negocio llevado a cabo por dos socios pero aún más, amigos. Nació a raíz de intentar cubrir la necesidad de ayudar a aquellos pequeños negocios a expendir su clientela habitual, ayudando
        a nuevos compradores a descubrir nuevos productos y nuevos vendedores. La meta era ayudar a esos pequeños comerciantes a aumentar su solvencia, así como incentivar la economía local impulsando el consumismo, ¡todos ganan!. Años después decidimos
        expandirnos para llegar aún a más gente, a través del comercio online entre proveedores mayoristas y compradores. Este es nuestro gran proyecto, al cuál tenemos mucho cariño, es además nuestro pequeño grano de arena para aportar a la sociedad
        española y a este maravilloso país.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
            <div class="container">
                <h2>Frank Rodríguez</h2>
                <p class="title">CEO & Founder</p>
                <p>I've got the dreamers disease 💭</p>
                <!-- <p>frank_r_management@libertysales.com</p> -->
            </div>
        </div>
    </div>



    <div class="column">
        <div class="card">
            <img src="/w3images/team3.jpg" alt="John" style="width:100%">
            <div class="container">
                <h2>Sergio Perea</h2>
                <p class="title">CEO & Founder</p>
                <p>Nah tio paso, me suda la poya en realidad</p>
                <!-- <p>sergio_p_management@libertysales.com</p> -->
            </div>
        </div>
    </div>
</div>