<div class="wrapper" *ngIf="usuario != 'administrador' && incidencia">

    <div class="row">
        <form class="form-registro" autocomplete="off" [formGroup]="incidenciaForm" (submit)="actualizarIncidencia()">
            <div class="row">
                <div class="col-md-8 form-div">

                    <div class="card-body formulario">
                        <h5 class="card-title text-left" *ngIf="(comp || prov) && incidencia.asignado">Incidencia con el asistente técnico: {{asistenteTecnicoNombre}}</h5>
                        <h5 class="card-title text-left" *ngIf="(comp || prov) && !incidencia.asignado">Incidencia sin asignar</h5>
                        <h5 class="card-title text-left" *ngIf="aT && compradorNombre && !proveedorNombre">Incidencia del comprador {{compradorNombre}}</h5>
                        <h5 class="card-title text-left" *ngIf="aT && !compradorNombre && proveedorNombre">Incidencia del proveedor {{proveedorNombre}}</h5>

                        <p class="card-title" style="color: rgb(122, 122, 122); ">Título: "{{incidencia.titulo}}"</p>
                        <p class="card-title" style="color: rgb(122, 122, 122); ">Temática: {{incidencia.tematica}}</p>
                        <p class="card-title" style="color: rgb(122, 122, 122); ">Detalles: {{incidencia.descripcion}}</p>
                        <p class="card-title" *ngIf="!incidencia.asignado" style="color: rgb(122, 122, 122); ">Estado: pendiente de asignación</p>
                        <p class="card-title" *ngIf="!incidencia.resuelto && incidencia.asignado" style="color: rgb(122, 122, 122); ">Estado: por resolver</p>
                        <p class="card-title" *ngIf="incidencia.resuelto" style="color: rgb(122, 122, 122); ">Estado: resuelta</p>
                        <p class="card-title" style="color: rgb(122, 122, 122); ">Último mensaje enviado el {{incidencia.fechaPublicacion | date: 'dd/MM/yyyy'}}</p>

                        <hr>
                        <div class="form-group" *ngIf="comp || prov && !incidencia.resuelto">
                            <p class="text-center">Incidencia resuelta</p>
                            <input type="checkbox" class="form-control" id="resuelto" formControlName="resuelto">
                        </div>
                        <div class="form-group">
                            <label for="mensajes">Nuevo mensaje</label>
                            <textarea type="text" class="form-control" id="mensajes" formControlName="mensajes" [class.is-invalid]="mensajeNoValido"></textarea>
                            <small *ngIf="mensajeCampoRequerido" class="text-danger">Mensaje requerido.</small>
                            <small *ngIf="mensajes.errors.esSpam && !mensajeCampoRequerido" class="text-danger">No pueden usarse términos o palabras que poseen connotaciones negativas.</small>
                        </div>

                        <button type="submit" class="btn btn-lg btn-primary btn-sm btn-block" *ngIf="prov || comp" [disabled]="!puedesActualizar">
                            Actualizar
                        </button>
                        <button type="submit" class="btn btn-lg btn-primary btn-sm btn-block" *ngIf="aT" [disabled]="!puedesActualizar">
                            Enviar
                        </button>

                    </div>

                    <button type="submit" class="btn btn-lg btn-danger btn-sm btn-block mt-2" [disabled]="!puedesBorrar" *ngIf="aT" (click)="borrarIncidencia(incidencia)">
                        Borrar incidencia
                    </button>

                    <br>
                    <br>

                    <div class="row">
                        <div class="col-md-12">
                            <div *ngFor="let mensaje of incidencia.mensajes; let i=index" class="descripcion-container">
                                <p class="descripcion">{{mensaje}}</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>