/*table */

table {
    border-collapse: collapse;
}

.mat-sort-header-container {
    align-items: center;
}

table th,
table td {
    padding: 3px;
}

table th:hover {
    cursor: pointer;
}

.arrow-down:after,
.arrow-up:after {
    content: ' ';
    position: relative;
    left: 2px;
    border: 8px solid transparent;
}

.arrow-down:after {
    top: 10px;
    border-top-color: black;
}

.arrow-up:after {
    bottom: 15px;
    border-bottom-color: black;
}

.arrow-down,
.arrow-up {
    padding-right: 10px;
}

.img-avatar {
    max-height: 300px;
    max-width: 300px;
    object-fit: contain;
}

.descripcion {
    margin: 2%;
    font-size: large;
}

.descripcion-container {
    border: 2px solid rgb(184, 184, 184);
    background-color: #fff5c7;
    margin: 1%;
    border-radius: 6px;
}

.descripcion-titulo {
    text-align: center;
    margin-top: 1%;
}

.row {
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.formulario {
    background-color: #d6d6d6;
    margin: auto,
}

.form-div {
    margin: auto;
    color: black;
}

.form {
    width: 90%;
    margin: auto;
}