<div class="row centrado mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <h1 class="mt-5">Mis incidencias</h1>
    </div>
    <div class="col-md-2 centrado mt-5" *ngIf="compradorOProveedor" style="text-align: right;">
        <a routerLink="/crear-incidencia" class="botones">Nueva incidencia</a>
    </div>
    <div class="col-md-2"></div>
</div>

<div class="row centrado">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <app-incidencia-tarjeta [data]="incidencia" (incidenciaSeleccionada)="verIncidencia($event)" *ngFor="let incidencia of incidencias"></app-incidencia-tarjeta>
    </div>
    <div class="col-md-2"></div>
</div>