<footer class="bg-dark text-center text-lg-start-footer">
    <div class="row mr-0">
        <div class="text-left col-md-2 p-3 info">
            <a class="text-light" href="https://comfystream-s2.web.app/">SellersPlaza | 2021</a>
        </div>

        <div class="text-center col-md-2 p-3">
            <a class="text-light abajo" routerLink="/sobre-nosotros">Nuestra compañia</a>
        </div>
        <div class="text-center col-md-2 p-3">
            <a class="text-light abajo" routerLink="/politica-privacidad">Política de privacidad</a>
        </div>
        <div class="text-center col-md-2 p-3">
            <a class="text-light abajo" routerLink="/terminos-uso-y-aviso-legal">Términos de uso y aviso legal</a>
        </div>
        <div class="text-center col-md-1 p-3">
            <a class="text-light abajo" routerLink="/soporte">Soporte</a>
        </div>
        <div class="text-center col-md-1 p-3">
            <a class="text-light abajo" routerLink="/comercial">Comercial</a>
        </div>
        <div class="text-center col-md-1 p-3">
            <a class="text-light abajo" routerLink="/faqs">FAQs</a>
        </div>
    </div>
</footer>